.wntrCardsBlock {
    margin-bottom: 60px;
    &__heading {
        margin-bottom: 30px;
        text-align: center;
        text-transform: uppercase;
        background: -webkit-linear-gradient(45deg, $secondary, lighten($secondary, 10%));
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -ms-background-clip: text;
        -o-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        text-shadow: 2px 2px 3px rgba($primary,0.3);
    }
    &__card {
        position: relative;
        display: block;
        -webkit-transition: 0.3s -webkit-filter linear;
        -moz-transition: 0.3s -moz-filter linear;
        -moz-transition: 0.3s filter linear;
        -ms-transition: 0.3s -ms-filter linear;
        -o-transition: 0.3s -o-filter linear;
        transition: 0.3s filter linear, 0.3s -webkit-filter linear;
        &:hover {
            -webkit-filter: grayscale(50%);
            -moz-filter: grayscale(50%);
            -ms-filter: grayscale(50%);
            -o-filter: grayscale(50%);
            filter: grayscale(50%);
        }
    }
    &__title {
        position: absolute;
        width: 100%;
        text-align: center;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        color: $white;
        text-transform: uppercase;
        font-size: smaller;
    }
}