.wntrHeadingBlock {
    margin: 60px 0;
    &__heading {
        text-align: center;
        color: $secondary;
        letter-spacing: 2px;
    }
    &__h1 {
        text-transform: uppercase;
        background: -webkit-linear-gradient(45deg, $secondary, lighten($secondary, 10%));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}