@font-face {
    font-family: DomaineDisplay;
    src: url(/fonts/Domaine/DomaineDisplayWeb-Bold.woff);
    src: url(/fonts/Domaine/DomaineDisplayWeb-Bold.woff) format("woff");
    font-weight: 600;
    font-display: swap
}

@font-face {
    font-family: DomaineText;
    src: url(/fonts/Domaine/DomaineTextWeb-Regular.woff);
    src: url(/fonts/Domaine/DomaineTextWeb-Regular.woff) format("woff");
    font-weight: 300;
    font-display: swap
}


// Montserrat Extra Light
@font-face {
    font-family: Montserrat;
    src: url(/fonts/Montserrat/montserrat-extralight-webfont.woff);
    src: url(/fonts/Montserrat/montserrat-extralight-webfont.woff) format("woff"),
         url(/fonts/Montserrat/montserrat-extralight-webfont.woff2) format("woff2");
    font-weight: 400;
    font-display: swap
}
@font-face {
    font-family: Montserrat;
    src: url(/fonts/Montserrat/montserrat-extralightitalic-webfont.woff);
    src: url(/fonts/Montserrat/montserrat-extralightitalic-webfont.woff) format("woff"),
         url(/fonts/Montserrat/montserrat-extralightitalic-webfont.woff2) format("woff2");
    font-weight: 400;
    font-style: italic;
    font-display: swap
}

// Montserrat Medium
@font-face {
    font-family: Montserrat;
    src: url(/fonts/Montserrat/montserrat-medium-webfont.woff);
    src: url(/fonts/Montserrat/montserrat-medium-webfont.woff) format("woff"),
         url(/fonts/Montserrat/montserrat-medium-webfont.woff2) format("woff2");
    font-weight: 500;
    font-display: swap
}
@font-face {
    font-family: Montserrat;
    src: url(/fonts/Montserrat/montserrat-mediumitalic-webfont.woff);
    src: url(/fonts/Montserrat/montserrat-mediumitalic-webfont.woff) format("woff"),
         url(/fonts/Montserrat/montserrat-mediumitalic-webfont.woff2) format("woff2");
    font-weight: 500;
    font-style: italic;
    font-display: swap
}

// Montserrat Semi-Bold
@font-face {
    font-family: Montserrat;
    src: url(/fonts/Montserrat/montserrat-semibold-webfont.woff);
    src: url(/fonts/Montserrat/montserrat-semibold-webfont.woff) format("woff"),
         url(/fonts/Montserrat/montserrat-semibold-webfont.woff2) format("woff2");
    font-weight: 700;
    font-display: swap
}
@font-face {
    font-family: Montserrat;
    src: url(/fonts/Montserrat/montserrat-semibolditalic-webfont.woff);
    src: url(/fonts/Montserrat/montserrat-semibolditalic-webfont.woff) format("woff"),
         url(/fonts/Montserrat/montserrat-semibolditalic-webfont.woff2) format("woff2");
    font-weight: 700;
    font-style: italic;
    font-display: swap
}

// Montserrat Bold
@font-face {
    font-family: Montserrat;
    src: url(/fonts/Montserrat/montserrat-bold-webfont.woff);
    src: url(/fonts/Montserrat/montserrat-bold-webfont.woff) format("woff"),
         url(/fonts/Montserrat/montserrat-bold-webfont.woff2) format("woff2");
    font-weight: 700;
    font-display: swap
}
@font-face {
    font-family: Montserrat;
    src: url(/fonts/Montserrat/montserrat-bolditalic-webfont.woff);
    src: url(/fonts/Montserrat/montserrat-bolditalic-webfont.woff) format("woff"),
         url(/fonts/Montserrat/montserrat-bolditalic-webfont.woff2) format("woff2");
    font-weight: 700;
    font-style: italic;
    font-display: swap
}