.header {
    margin-bottom: 30px;
    &__info {
        background-color: $secondary;
        color: $white;
        a {
            color: $white;
            text-decoration: none;
        }
    }
    &__navigation {
        background-color: rgba($white, 0.7);
        border-radius: 20px;
        a {
            text-decoration: none;
            &:hover {
                color: $black;
            }
            &.active, &:active {
                color: $secondary;
                font-weight: 500;
            }
        }
    }
}